*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("bg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Cabin', sans-serif;
    font-size: 2.5vh;
}

#github {
    padding: 3vh;
}

#github a {
    background-color: rgba(237, 237, 237, 0.6);
    border: 1px solid rgb(77, 85, 67);
    border-radius: 3px;
    color: rgb(22, 19, 50);
    font-size: 1.5vh;
    padding: 1vh;
    text-decoration: none;
}

#container {
    background-color: rgba(237, 237, 237, 0.6);
    border: 1px solid grey;
    border-radius: 10px;
    box-shadow: 15px 15px 7px rgba(22, 19, 50, 0.6), -15px -15px 12px rgba(22, 19, 50, 0.6);
    margin: 4vh 15vh;
    max-width: 43vw;
    padding: 10vh;
}

h1, h3 {
    color: rgb(22, 19, 50);
    margin-bottom: 5vh;
}

h3 {
    margin-top: 5vh;
}

form,
.estimationResult {
    padding-left: 8vh;
}

.label {
    display: block;
}

.option {
    padding: 2vh 0;
}

input,
select {
    padding: 1vh;
    margin-top: 1vh;
    width: 50vh;
}

#radioInput{
    margin: 2vh 1vh 2vh 7vh;
    max-width: 5vh;
}